---
title: SHQB ~ Self Health Quantification blockRing™
layout: home
---
<!-- --------------------------------------------- -->
<div class="content first" style="margin-top: 108px;">
<h1 style="text-align:center">Self Quantification <i>block</i>chain &amp;<br> Medical Ledger Technology</h1>
</div><!-- --------------------------------------------- -->
<div id="rendered" class="content">
To be rendered !
</div>
<br><!-- --------------------------------------------- -->
<div id=md style="display:none;" data-url="SHQB.txt"><!-- write your page here in markdown format -->
<a class=include href="SHQB.txt">SHQB.txt</a>
[SHQB](SHQB.txt){.include}
{% include sig.html %}
</div><!-- end of page -->
</div><!-- --------------------------------------------- -->
<br>source <a href="#" class=include>file</a> made w/ <a href="#" target=_blank class=framapad>♡</a>.
</div><!-- --------------------------------------------- -->
<!--
<script src=http://iphs.ga/js/inc-md.js></script>
<script src=http://0.0.0.0:8088/js/inc-md.js></script>
<script src=https://cdn.jsdelivr.net/gh/iglake/js@master/dist/inc-md.js></script>
-->
<script src=https://cdn.jsdelivr.net/npm/showdown@latest/dist/showdown.js></script>
<script src=https://cdn.jsdelivr.net/gh/iglake/js@master/dist/inc-md.js></script>

<div class="content" style="margin-top: 83px;">
<h3>contact: <a href=mailto:m.combes%40gc-bank.org>m.combes&#64;gc-bank.org</a>
<h3>partner sites : <input type=button value="list" name=list Onclick="toggle('list')"/></h3>
<div id=list style="display:none">
{% include list.html %}
</div>
</div>
<script>
function toggle(id) {
    var obj = document.getElementById(id);
    obj.style.display = (obj.style.display == "none") ? "block" : "none";
    //obj.contentWindow.location.reload(true);
    obj.src = obj.src; // trigger a reload (??)
}

</script>
