---
layout: home
title: Self Quantification BlockChain
---

<!meta http-equiv="refresh" content="300;URL=SHQB.htm"/>

<div class="content first">
<h1 style="text-align:center">We believe in wisdom gained with sharing our health data.<br>
We developed the technology to keep it secures and private.</h1>
</div><br><div class=content>
{% capture orient %}
{% include orient.md %}
{% endcapture %}
{{ orient | markdownify }}
</div>
<br><div class=content>
{% capture pblem %}
{% include pblem.md %}
{% endcapture %}
{{ pblem | markdownify }}
</div>
<br><div class=content>
{% capture bchain %}
{% include blockchain.md %}
{% endcapture %}
{{ bchain | markdownify }}
</div>
<br><div class=content>
{% capture misc %}
{% include misc.md %}
{% endcapture %}
{{ misc | markdownify }}
</div>
<br><div class=content>
{% capture contact %}
{% include contact.md %}
{% endcapture %}
{{ contact | markdownify }}
</div>

{% include sig.html %}
