body {
  background-image: linear-gradient(to bottom right, black,blue);
  /* vim: nospell
  background-image: URL(https://cloudflare-ipfs.com/ipfs/QmRBtY5nATCQ3mLpDH66Gm33orG22hfmr5XftDyey1stVm);
  background-image:url(https://siderus.io/ipfs/uAXAA/grid.jpg);
  background-image:url(https://hardbin.com/ipfs/uAXAA/grid.jpg);
  background-image:url(https://dweb.link/ipfs/uAXAA/grid.jpg);
  background-image:url(https://cdn.statically.io/img/cloudflare-ipfs.com/ipfs/uAXAALhIoChgBcBEUSNvNYvwGRuc7_oPOUyZ915yDWkkSCGdyaWQuanBnGO2CCAoCCAE/grid.jpg);
  background-image:url(https://cdn.statically.io/img/siderus.io/ipfs/uAXAAKxIlChgBcBEUSNvNYvwGRuc7_oPOUyZ915yDWkkSBWcuanBnGO2CCAoCCAE/g.jpg);
  */
  background-image:url(https://cdn.statically.io/img/cloudflare-ipfs.com/ipfs/uAXAANRIvChgBcBEU9NDXg8p6R1G3-0LwcdzYpn71OgsSD1BIUmVjb3JkLWJnLmpwZxj4lCEKAggB/PHRecord-bg.jpg);
  background-size: cover 100vh;
  background-attachment: fixed;
  background-position: center;
  /* min-height: 100%; */
  color: #546;
}
#panel {
 opacity: 0.9;
}

iframe { width:106vh; height:60vh; display: block; margin:auto; }
div img .center { max-width: 95%; max-height: 720px; } 
img[alt=poster2] { display:block; }

a:link { color: #26B; text-decoration: underline; text-decoration-style: dashed;}
a:hover { color: hotpink; text-decoration-style: solid;}
a:visited { color: #234; }
a:active { color: blue; text-decoration-style: wavy;}

div {
 background-image: linear-gradient(to bottom left, white,royalblue);
 color: black;
 border: 1px solid;
 /*
 opacity: 0.46;
 background: orange;
 background-image: linear-gradient(to bottom right, white,darkgrey);
 border-radius: 8px;
 box-shadow:2px 10px 4px rgba(0, 0, 0, 0.40);
  */
 padding: 2em;
 font-size: 16px;
 text-align: justify;

 border-radius: 4px;
 box-shadow: none;
}

.blog-post-small {
 border-radius: 0px;
 background-image: linear-gradient(to bottom right, white,darkgrey) !important;
}
.highlight {
 background-image: none;
 background-color: darkgrey;
 border: none;
}
.highlighter-rouge {
 border: 1px dashed red;
 background: orange;
 padding: 2px;
}
/**
 * Posts
 */
.post-header {
  margin-bottom: 30px; }

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 36px; } }

.post-content {
  margin-bottom: 30px; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 18px; } }


#first, div.first { color: white !important; }
.first > h1 { color: #98EDFE; }


div.content {
 opacity: 0.96;
 color: black; background: lightyellow; opacity: 1.0; 

 position: relative;
 max-width: 740px;
 margin-left: 100px;
 margin: auto;


 width: 100%;
 padding: 1em;

  border-radius: 4px;
  box-shadow:2px 20px 10px rgba(0, 0, 0, 0.40);
}


pre { overflow: auto; }


.first {
 opacity: 0.46;
 background-color: rgba(20,20,40,0.8) !important;
 position: sticky !important;
 margin-top: 108px;
 margin-bottom: 1px;
 /* right: 50%; margin-right: -382px; */
 /*
 z-index: -10;
 bottom: -200px;
 */
}



